.profile__edit-button {
  grid-area: profile__edit-Button;
  width: 24px;
  height: 24px;
  background-image: url(../../../images/Edit_Button.svg);
  object-fit: contain;
  background-repeat: no-repeat;
  background-color: black;
  background-position: center;
  margin: 0;
  padding: 0;
  cursor: pointer;
  border: 1px solid white;
  transition: .3s;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 425px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    margin-bottom: 8px;
    margin-left: 8px;
    
  }
}