/* normolize */
@import url(./vendor/normalize.css);
/* fonts */
@import url(./vendor/fonts/fonts.css);
/* page */
@import url(./blocks/page/page.css);
/* content */
@import url(./blocks/content/content.css);
/* header */
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
/* profile */
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);
@import url(./blocks/profile/__icon/profile__icon.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__avatar-photo/profile__avatar-photo.css);
@import url(./blocks/profile/__avatar-icon/profile__avatar-icon.css);
@import url(./blocks/profile/__overlay/profile__overlay.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__job/profile__job.css);
@import url(./blocks/profile/__name/profile__name.css);
/* cards */
@import url(./blocks/cards/cards.css);
@import url(./blocks/cards/__caption/cards__caption.css);
@import url(./blocks/cards/__image/cards__image.css);
@import url(./blocks/cards/__item/cards__item.css);
@import url(./blocks/cards/__title/cards__title.css);
@import url(./blocks/cards/__like/cards__like.css);
@import url(./blocks/cards/__counter-likes/cards__counter-likes.css);
@import url(./blocks/cards/__likes-info/cards__likes-info.css);
@import url(./blocks/cards/__like/_active/cards__like_active.css);
@import url(./blocks/cards/__basket/cards__basket.css);
/* footer */
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);
/* popup */
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__button-close/popup__button-close.css);
@import url(./blocks/popup/__icon/popup__icon.css);
@import url(./blocks/popup/__button-save/popup__button-save.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__container-image/popup__container-image.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__card-image/popup__card-image.css);
@import url(./blocks/popup/__caption/popup__caption.css);
@import url(./blocks/popup/__image/popup_image.css);
@import url(./blocks/popup/__button-save/_disabled/popup__button-save_status_disabled.css);
@import url(./blocks/popup/__title/_size/popup__title_size_s.css);

/* validation_ */

@import url(./blocks/popup/__input/_type/popup__input_type_error.css);
@import url(./blocks/popup/__input-error/popup__input-error.css);