.header {
  display: flex;
  justify-content: flex-start;
  align-items: start;
  min-height: 74px;
  padding-top: 40px;
  border-bottom: 1px solid rgb(84, 84, 84, 0.7);
}

@media screen and (max-width: 425px){
  .header {
    width: 320px;
    min-height: 56px;
    padding-top: 28px;
  } 
}